@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@layer base {
  body {
    font-family: 'Inter', sans-serif;
  }

  code,
  pre {
    font-family: 'IBM Plex Mono', monospace;
  }
}

:root,
html[data-theme='light'] {
  /* --background: #fdfdfd;
  --foreground: #282728;
  --accent: #006cac;
  --muted: #e6e6e6; */
  --border: #ece9e9;
}

html[data-theme='dark'] {
  /* --background: #212737;
  --foreground: #eaedf3;
  --accent: #ff6b01;
  --muted: #343f60; */
  --border: #ab4b08;
}

@utility max-w-app {
  @apply max-w-3xl;
}
