@utility max-w-app {
  @apply max-w-4xl;
}

@utility foreground-link {
  @apply text-foreground hover:text-accent-hover active:text-accent-active;
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility transition-300 {
  @apply transition-all duration-300 ease-in-out;
}
