@utility max-w-app {
  @apply max-w-2xl xl:max-w-3xl;
}

@utility foreground-link {
  @apply text-foreground underline-offset-6 decoration-dashed hover:underline hover:text-accent-hover active:text-accent-active;
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility transition-300 {
  @apply transition-all duration-300 ease-in-out;
}
